html{ /* 최소 높이값 설정*/
  position:relative;
  min-height:100%;
  margin:0;
}
body{
  font-family: "NanumBarunGothic", serif; /*글씨체*/
  min-height:100%;
}
.bottom_email{ /*footer*/
  width:100%;
  background-color:	#F5F5F5;
  display:flex;
  justify-content: flex-end;
  position: absolute;
  padding-right:5px;
  left:0;
  bottom:0;
}
.container-fluid{ /*메뉴 바와 입력 창 사이에 여백을 줌*/
  padding-bottom: 20px;
}
.navbar-logo{ /*메뉴 바*/
  text-decoration-line:none;
  font-weight: bold;
  font-size:40px;
  color:black;
}
.nav-link{ /*창 내부 글자색 폰트 크기 설정*/
  padding-top:15px;
  color:black;
  font-size: 20px;
}
button{ /* 버튼을 오른쪽으로 옮김*/
  float:right;
}
.login_form{ /* 로그인 폼 크기 폭 조정*/
  width:400px;
  height:20px;
  positon:absolute;
  margin:auto;
  max-width:100%;
  max-height:100%;
  overflow:auto;
  padding:1em 2em;
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  display:table;
  margin-bottom:50px;
}
.form-group{ /*메뉴 바와 입력같 사이에 여백을 줌*/
  margin-bottom:10px;
}
.sign_form{ /*싸인 폼 크기 폭 조정*/
  width:500px;
  height:90px;
  positon:absolute;
  margin:auto;
  max-width:100%;
  max-height:100%;
  overflow:auto;
  padding:1rem 2rem;
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  display:table;
  margin-bottom:50px;
}
.form-group{
  padding:5px;
}
.dropdown{
  margin-bottom:30px;
  position:absolute;
  text-align: center;
  right:265px;

}
